nav{
    display: flex;
    height: 50px;
}

.logo{
    margin-right: 10px;
}

.nav-item{
    margin: auto 50px auto;
    text-decoration: none;
    color: var(--primary-color);
}
.logo-row{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.logo-text{
    margin:auto 20px auto;
    font-size: 20px;
}


.search{
    margin-top: 15px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding-left: 10px;
    color:white;
}